html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: darkcyan;
  color: #fff;
  text-shadow: none; }

::selection {
  background: darkcyan;
  color: #fff;
  text-shadow: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* ==========================================================================

   Buttons

   ========================================================================== */
/* ==========================================================================

   Vertical Rhythm and Modular Scale with Baseline Grid by Justin Metros
   // inspired by www.gridlover.net

   ========================================================================== */
@-webkit-keyframes flicker-in {
  0% {
    opacity: 0;
    text-shadow: none; }
  10% {
    opacity: .01; }
  20% {
    opacity: .05;
    text-shadow: 0 0 5px #fff; }
  21% {
    opacity: .03; }
  22% {
    opacity: .05; }
  23% {
    opacity: .03; }
  24% {
    opacity: .05; }
  25% {
    opacity: .03; }
  26% {
    opacity: .05; }
  27% {
    opacity: .03; }
  28% {
    opacity: .05; }
  29% {
    opacity: .03; }
  30% {
    opacity: .05; }
  31% {
    opacity: .03; }
  32% {
    opacity: .05; }
  33% {
    opacity: .0; }
  34% {
    opacity: .05; }
  35% {
    opacity: .03; }
  36% {
    opacity: .05; }
  37% {
    opacity: .03; }
  38% {
    opacity: .05; }
  39% {
    opacity: .03; }
  40% {
    opacity: .05; }
  41% {
    opacity: .03; }
  42% {
    opacity: .05; }
  43% {
    opacity: .0; }
  44% {
    opacity: .05; }
  45% {
    opacity: .03; }
  46% {
    opacity: .05; }
  47% {
    opacity: .03; }
  48% {
    opacity: .05; }
  49% {
    opacity: .03; }
  50% {
    opacity: .05; }
  51% {
    opacity: .0; }
  53% {
    opacity: .0; }
  54% {
    opacity: .90; }
  55% {
    opacity: .40; }
  56% {
    opacity: .20; }
  59% {
    opacity: .50; }
  60% {
    opacity: .05; }
  61% {
    opacity: .90; }
  62% {
    opacity: .90; }
  63% {
    opacity: .90; }
  64% {
    opacity: .70; }
  65% {
    opacity: .71; }
  66% {
    opacity: .75; }
  67% {
    opacity: .71; }
  68% {
    opacity: .50; }
  69% {
    opacity: .75; }
  70% {
    opacity: .40; }
  71% {
    opacity: .20; }
  72% {
    opacity: .60; }
  73% {
    opacity: .50; }
  74% {
    opacity: .52; }
  75% {
    opacity: .30; }
  76% {
    opacity: .60; }
  77% {
    opacity: .40; }
  78% {
    opacity: .20; }
  79% {
    opacity: .20; }
  80% {
    opacity: .70; }
  81% {
    opacity: .60; }
  82% {
    opacity: .50; }
  83% {
    opacity: .60; }
  84% {
    opacity: .79; }
  85% {
    opacity: .40; }
  86% {
    opacity: .80; }
  87% {
    opacity: .30; }
  88% {
    opacity: .75; }
  90% {
    opacity: .30; }
  91% {
    opacity: .10; }
  92% {
    opacity: .20; }
  93% {
    opacity: .70; }
  93% {
    opacity: .60; }
  94% {
    opacity: .20; }
  95% {
    opacity: .10; }
  96% {
    opacity: .15; }
  97% {
    opacity: .9; }
  98% {
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    opacity: .9;
    text-shadow: 0 0 10px #fff; } }

@keyframes flicker-in {
  0% {
    opacity: 0;
    text-shadow: none; }
  10% {
    opacity: .01; }
  20% {
    opacity: .05;
    text-shadow: 0 0 5px #fff; }
  21% {
    opacity: .03; }
  22% {
    opacity: .05; }
  23% {
    opacity: .03; }
  24% {
    opacity: .05; }
  25% {
    opacity: .03; }
  26% {
    opacity: .05; }
  27% {
    opacity: .03; }
  28% {
    opacity: .05; }
  29% {
    opacity: .03; }
  30% {
    opacity: .05; }
  31% {
    opacity: .03; }
  32% {
    opacity: .05; }
  33% {
    opacity: .0; }
  34% {
    opacity: .05; }
  35% {
    opacity: .03; }
  36% {
    opacity: .05; }
  37% {
    opacity: .03; }
  38% {
    opacity: .05; }
  39% {
    opacity: .03; }
  40% {
    opacity: .05; }
  41% {
    opacity: .03; }
  42% {
    opacity: .05; }
  43% {
    opacity: .0; }
  44% {
    opacity: .05; }
  45% {
    opacity: .03; }
  46% {
    opacity: .05; }
  47% {
    opacity: .03; }
  48% {
    opacity: .05; }
  49% {
    opacity: .03; }
  50% {
    opacity: .05; }
  51% {
    opacity: .0; }
  53% {
    opacity: .0; }
  54% {
    opacity: .90; }
  55% {
    opacity: .40; }
  56% {
    opacity: .20; }
  59% {
    opacity: .50; }
  60% {
    opacity: .05; }
  61% {
    opacity: .90; }
  62% {
    opacity: .90; }
  63% {
    opacity: .90; }
  64% {
    opacity: .70; }
  65% {
    opacity: .71; }
  66% {
    opacity: .75; }
  67% {
    opacity: .71; }
  68% {
    opacity: .50; }
  69% {
    opacity: .75; }
  70% {
    opacity: .40; }
  71% {
    opacity: .20; }
  72% {
    opacity: .60; }
  73% {
    opacity: .50; }
  74% {
    opacity: .52; }
  75% {
    opacity: .30; }
  76% {
    opacity: .60; }
  77% {
    opacity: .40; }
  78% {
    opacity: .20; }
  79% {
    opacity: .20; }
  80% {
    opacity: .70; }
  81% {
    opacity: .60; }
  82% {
    opacity: .50; }
  83% {
    opacity: .60; }
  84% {
    opacity: .79; }
  85% {
    opacity: .40; }
  86% {
    opacity: .80; }
  87% {
    opacity: .30; }
  88% {
    opacity: .75; }
  90% {
    opacity: .30; }
  91% {
    opacity: .10; }
  92% {
    opacity: .20; }
  93% {
    opacity: .70; }
  93% {
    opacity: .60; }
  94% {
    opacity: .20; }
  95% {
    opacity: .10; }
  96% {
    opacity: .15; }
  97% {
    opacity: .9; }
  98% {
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    opacity: .9;
    text-shadow: 0 0 10px #fff; } }

@-webkit-keyframes malfunction {
  0% {
    opacity: .80; }
  10% {
    opacity: .30; }
  20% {
    opacity: .75; }
  30% {
    opacity: .30; }
  40% {
    opacity: .10; }
  50% {
    opacity: .20; }
  60% {
    opacity: .70; }
  70% {
    opacity: .60; }
  80% {
    opacity: .20; }
  90% {
    opacity: .10; }
  100% {
    opacity: .15; } }

@keyframes malfunction {
  0% {
    opacity: .80; }
  10% {
    opacity: .30; }
  20% {
    opacity: .75; }
  30% {
    opacity: .30; }
  40% {
    opacity: .10; }
  50% {
    opacity: .20; }
  60% {
    opacity: .70; }
  70% {
    opacity: .60; }
  80% {
    opacity: .20; }
  90% {
    opacity: .10; }
  100% {
    opacity: .15; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }

@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }

@-webkit-keyframes zoom-out {
  0% {
    -webkit-transform: scale(1) translate(400px, 50px); }
  50% {
    -webkit-transform: scale(4); }
  100% {
    -webkit-transform: scale(2) translate(200px, 50px); } }

@keyframes zoom-out {
  0% {
    -webkit-transform: scale(1) translate(400px, 50px);
    -ms-transform: scale(1) translate(400px, 50px);
    transform: scale(1) translate(400px, 50px); }
  50% {
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4); }
  100% {
    -webkit-transform: scale(2) translate(200px, 50px);
    -ms-transform: scale(2) translate(200px, 50px);
    transform: scale(2) translate(200px, 50px); } }

@-webkit-keyframes stretch-in {
  0% {
    width: 15%; }
  90% {
    width: 120%; }
  100% {
    width: 100%; } }

@keyframes stretch-in {
  0% {
    width: 15%; }
  90% {
    width: 120%; }
  100% {
    width: 100%; } }

@-webkit-keyframes lying {
  0% {
    -webkit-transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(60deg); } }

@keyframes lying {
  0% {
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(60deg);
    -ms-transform: rotateX(60deg);
    transform: rotateX(60deg); } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes background-fade-out {
  100% {
    background-color: transparent; } }

@keyframes background-fade-out {
  100% {
    background-color: transparent; } }

html {
  height: 100%; }

body {
  height: 100%;
  tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 1s ease-out;
          transition: transform 1s ease-out;
  width: 100%; }

.container {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  height: 100%;
  -webkit-perspective: 300px;
          perspective: 300px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%; }

.wall {
  pointer-events: none;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 1; }
  .wall.back {
    height: 100%;
    width: 100%;
    -webkit-transform: translateZ(calc(-50vw - 1.25vh));
            transform: translateZ(calc(-50vw - 1.25vh)); }
  .wall.top,
  .wall.bottom {
    height: 50vw;
    width: 100%; }
  .wall.top {
    top: -1.25vh;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%; }
  .wall.bottom {
    bottom: -1.25vh;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%; }
  .wall.left,
  .wall.right {
    height: 100%;
    width: 50%; }
  .wall.left {
    left: -1.25vh;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: 0% 50%;
        -ms-transform-origin: 0% 50%;
            transform-origin: 0% 50%; }
  .wall.right {
    right: -1.25vh;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%; }

.box {
  float: left;
  width: calc(99.99% * 0.25 - (2.5vh - 2.5vh * 0.25));
  height: calc(99.99% * 0.25 - (2.5vh - 2.5vh * 0.25));
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s ease-out, background-color 300ms ease-out;
          transition: transform 0.5s ease-out, background-color 300ms ease-out; }

.box:nth-child(n) {
  float: left;
  margin-right: 2.5vh;
  margin-bottom: 2.5vh;
  clear: none; }

.box:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.box:nth-child(4n) {
  margin-right: 0; }

.box:nth-child(4n + 1) {
  clear: left; }

.box:nth-last-child(-n + 4) {
  margin-bottom: 0; }
  .box:hover:not(.selected) {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px); }
  .box:hover .side {
    background-color: rgba(255, 165, 0, 0.6); }
  .top .box.selected,
  .bottom .box.selected {
    -webkit-transform: translateZ(50vh);
            transform: translateZ(50vh); }
  .left .box.selected,
  .right .box.selected {
    -webkit-transform: translateZ(calc(50vw));
            transform: translateZ(calc(50vw)); }
  .back .box.selected {
    -webkit-transform: translateZ(calc(50vw + 1.25vh));
            transform: translateZ(calc(50vw + 1.25vh)); }

.side {
  background-color: rgba(0, 174, 230, 0.15);
  pointer-events: all;
  position: absolute;
  -webkit-transition: background-color 300ms ease-out;
          transition: background-color 300ms ease-out;
  width: 100%; }
  .selected .side {
    background-color: rgba(255, 165, 0, 0.6); }
  .selected:hover .side {
    background-color: rgba(255, 207, 0, 0.6); }
  .side.front,
  .side.left,
  .side.right {
    height: 100%; }
  .side.top {
    height: 200px;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%; }
    .back .side.top {
      height: 100px; }
  .side.bottom {
    bottom: 0;
    height: 200px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%; }
    .back .side.bottom {
      height: 100px; }
  .side.left {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: 0% 50%;
        -ms-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    width: 200px; }
    .back .side.left {
      width: 100px; }
  .side.right {
    right: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    width: 200px; }
    .back .side.right {
      width: 100px; }
